@using Menace.ViewModels
@using Noughts_and_Crosses

@model GameCreate


@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@

@{
}

@{
    ViewData["Title"] = "Build Setup";
}

<div class="text-center">
    <h1 class="display-4">Create new Menace player</h1>
    <p>Choose reward function type:</p>
    <div>
        <form asp-action="BuildSetup">
            <div class="form-group">
                <p>
                    <input type="radio" asp-for="RewardFunctionType" value="0" id="ThreePerWinOnePerDraw" checked="checked" />
                    <label for="ThreePerWinOnePerDraw">@( ReinforcementRewardFunction.MapRewardFunctionTypeToName(ReinforcementRewardFunction.RewardFunctionType.ThreePerWinOnePerDraw) )</label><br>
                </p>
                <p>
                    <input type="radio" asp-for="RewardFunctionType" value="1" id="WinPlusTurnLossMinusTurn" />
                    <label for="WinPlusTurnLossMinusTurn">@( ReinforcementRewardFunction.MapRewardFunctionTypeToName(ReinforcementRewardFunction.RewardFunctionType.WinPlusTurnLossMinusTurn) )</label><br>
                </p>
                <p>
                    <input type="submit" value="Build" class="btn btn-primary" />
                </p>
            </div>
        </form>
    </div>

    @*<a class="btn btn-primary" asp-area="" asp-controller="Players" asp-action="Index">Player 1 (Opening)</a>
        <a class="btn btn-primary" asp-area="" asp-controller="Players" asp-action="Index">Player 2 (Second Player)</a>*@
</div>
