@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">MENACE</h1>
    <p>MENACE is a Reinforcement Learning Algorithm for Noughts and Crosses.</p>
    <a class="btn btn-primary" asp-area="" asp-controller="BuildMenace" asp-action="Index">Create your own MENACE!</a>
</div>
